.users {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.users__list {
    width: 250px;
    line-height: 2;
    box-shadow: 10px 5px 5px grey;
}

.user__btn {
    border: 1px solid #F0BA4E;
    border-radius: 54px;
    background-color: #FFFFFF;
    align-items: center;
    padding: 10px 15px;
    margin-top: 15px;
} 

.create__user {
    border: 2px solid #F0BA4E;
    background-color: #FFFFFF;
    padding: 15px;
}

.newUser_title {
    color: #000;
    font-weight: 700;
}


