<div shadow>
    <mat-card appearance="outlined"> 
        <mat-card-header>
            <mat-card-subtitle>{{user.name}}</mat-card-subtitle>
            <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
            <mat-card-subtitle>{{user.website}}</mat-card-subtitle>
            <mat-card-subtitle>{{user.company.name}}</mat-card-subtitle>
            <mat-card-subtitle>{{user.phone | deleteDash }}</mat-card-subtitle>
        </mat-card-header>
        <div class="card__btns">
            <button style="color:darkolivegreen; background-color:azure ;" mat-raised-button (click)="openDeleteDialog()">УДАЛИТЬ</button>
            <button style="color: #ffff; background-color:blueviolet ;" mat-raised-button (click)="openEditDialog()">РЕДАКТИРОВАТЬ</button>                
        </div>
    </mat-card>    
</div>
